NA/
vivado*jou
vivado*log
vivado*str

fpga/fpga.cache/
fpga/fpga.gen/
fpga/fpga.hw/
fpga/fpga.ip_user_files/
fpga/fpga.sim/
fpga/fpga.xpr/
fpga/fpga.runs/
fpga/ps7_init.c
fpga/ps7_init.h
fpga/ps7_init.html
fpga/ps7_init.tcl
fpga/ps7_init_gpl.c
fpga/ps7_init_gpl.h
fpga/fpga.xpr

dts/device-tree.mss
dts/skeleton.dtsi
dts/system.dts
dts/zynq-7000.dtsi
dts/include/
dts/pcw.dtsi
dts/system-top.dts

